<h4>Comments</h4>

<!-- Render comments -->
<div id="comments" class="mb-3">
    <%= render post.comments %>
</div>

<!-- Render form -->
<% if user_signed_in? %>
    <%= render "comments/new", post: post %>
<% end %>