<div id="<%= dom_id post %>">
  <h4>
    <%= post.title %>
  </h4>

  <p>
    <!-- <strong>Content:</strong> -->
    <%= post.content %>
  </p>

  <p>
    <small>Posted <%= time_ago_in_words(post.created_at) %> ago</small>
  </p>

</div>
