<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div class="mb-3">
  <%= link_to "Show this post", @post , class:"btn btn-light"%> |
  <%= link_to "Back to posts", posts_path , class:"btn btn-light"%>
</div>
