<h1>Posts</h1>

<div id="posts" class="mb-2">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post" , post , class:"btn btn-light"%>
    </p>
    <br/>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="mb-3">
    <%= link_to "New post", new_post_path , class:"btn btn-outline-info"%>
  </div>
<% end %>

